body {
  background-image: url(Picture/Two_Buttons.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgb(16, 16, 16);
}

.Yes {
  width: 82px;
  height: 82px;
  border-radius: 50px;
  position: absolute;
  top: 247px;
  left: 840px;
  cursor: pointer;
}
.No {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  position: absolute;
  top: 212px;
  left: 1005px;
  cursor: pointer;
}

.container {
  width: auto;
  height: auto;
}
